-# encoding: utf-8
.base-text
  %p 
    RubyDay è la conferenza Italiana interamente dedicata al linguaggio 
    %a{:href=>"http://www.ruby-lang.org/en"}
      Ruby
    e a tutto quello che ruota attorno (sviluppo web, APIs, startup).
  %p 
    E' tuttavia probabile che se sei collegato qui sai già di cosa stia
    parlando.
  %p
    Questo è il backend di amministrazione per il sito del 
    %a{:href=>"http://www.rubyday.it"}
      RubyDay
    da qui puoi creare l'agenda, caricare i talk selezionati e gli speaker di
    ultimo grido che contribuiranno alla realizzazione di un altro eccezionale
    evento.

-# Nel caso ci servissero delle bellissime icone, le tengo qui nei commenti
-# .base-icons
-#   .btn-group
-#     .btn.btn-primary{:title => "Adapters for datamapper, sequel, activerecord, mongomapper, mongoid, couchrest"}=tag_icon("cogs icon-2x", "Orm Agnostic")
-#     .btn.btn-success{:title => "User Authentication Support, User Authorization Management"}=tag_icon("group icon-2x", "Authentication")
-#     .btn.btn-info{:title => "Erb, Haml, Slim Rendering Support"}=tag_icon("tasks icon-2x", "Template Agnostic")
-#     .btn.btn-warning{:title => "English, German, Russian, Danish, French, Brazilian and Italian localizations and many more!.."}=tag_icon("flag icon-2x", "Multi Language")
-#     .btn.btn-danger{:title => "You can create a new 'admin interface' by providing a single Model"}=tag_icon("magic icon-2x", "Scaffold")
