%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:slots, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:slots, :new)

.tabs-content
  -form_for :slot, url(:slots, :create), :class => 'form-horizontal' do |f|
    =partial 'slots/form', :locals => { :f => f }
