%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:sponsors, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:sponsors, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:sponsors, :edit, :id => @sponsor.id)

.tabs-content
  -form_for :sponsor, url(:sponsors, :update, :id => @sponsor.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'sponsors/form', :locals => { :f => f }
